<script type="text/javascript">
$(document).ready(function() {
  $('#transaction').dataTable(  {
    'asStripeClasses': [],
    "iDisplayLength": 50,
    "aaSorting": [[ 14, "desc" ]],
    "oLanguage": {
      "oPaginate": {
        "sFirst": "Primera pagina",
        "sNext": "Siguiente",
      "sPrevious": "Previo",
      "sSearch": "Buscar:"
      }
    }
    }
  );
} );
</script>
<h1>Pedidos</h1>
<table class="table table table-striped" id="transaction">
  <thead>  
    <tr>
    <th>PIERNA 5 a 5,9 K</th>
    <th>PIERNA 6 a 6,9 K</th>
    <th>PIERNA 7 a 7,9 K</th>
    <th>DESHUESADO</th>
    <th>Unidades Jam&oacute;n</th>
    <th>Lomo</th>
    <th>Unidades Lomo</th>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Ciudad</th>
    <th>Telefono</th>
    <th>Email</th>
    <th>Tipo Pago</th>
    <th>Mensaje</th>
    <th>Fecha</th>
  </tr>
  </thead>  
<% @orders.each do |order| %>
  <tr>
    <td><%= order.leg5 ? 'SI' : 'NO' %></td>
    <td><%= order.leg6 ? 'SI' : 'NO' %></td>
    <td><%= order.leg7 ? 'SI' : 'NO' %></td>
    <td><%= order.desh ? 'SI' : 'NO' %></td>
    <td><%= order.units %></td>
    <td><%= order.lomo ? 'SI' : 'NO' %></td>
    <td><%= order.lomo_units %></td>
    <td><%= order.name %></td>
    <td><%= order.company %></td>
    <td><%= order.city %></td>
    <td><%= order.phone %></td>
    <td><%= order.email %></td>
    <td><%= order.payment %></td>
    <td><%= order.message %></td>

    <td><%= order.created_at.in_time_zone('La Paz') %></td>
  </tr>
<% end %>
</table>

<br />

