<p id="notice"><%= notice %></p>

<p>
  <b>Leg5:</b>
  <%= @order.leg5 %>
</p>

<p>
  <b>Leg6:</b>
  <%= @order.leg6 %>
</p>

<p>
  <b>Leg7:</b>
  <%= @order.leg7 %>
</p>

<p>
  <b>Desh:</b>
  <%= @order.desh %>
</p>

<p>
  <b>Units:</b>
  <%= @order.units %>
</p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Company:</b>
  <%= @order.company %>
</p>

<p>
  <b>City:</b>
  <%= @order.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @order.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Payment:</b>
  <%= @order.payment %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
