<script type="text/javascript">

  $(document).ready(function() {

    $('#principal').submit(function() {
      $('#order_leg5').val($('#order_leg5_1').is(':checked'));
      $('#order_leg6').val($('#order_leg6_1').is(':checked'));
      $('#order_leg7').val($('#order_leg7_1').is(':checked'));
      $('#order_desh').val($('#order_desh_1').is(':checked'));
      $('#order_units').val($('#order_units_1').val());
      $('#order_lomo').val($('#order_lomo_1').is(':checked'));
      $('#order_lomo_units').val($('#order_lomo_units_1').val());
    });

  });
</script>

<style>
  .form-horizontal .control-label {
    text-align: left;
    margin-left: 75px;
  }
</style>
  <div class="row" >
    <div class="span10 offset1" id="pedidos" style="background-color: #f5f5f5;">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" id="pedidos">
      <img src="/assets/pedidos3.jpg">
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1"  style="background-color: #f5f5f5;">
      <img src="/assets/line.jpg">
    </div>
  </div>
   <div class="row" >
    <div class="span10 offset1" id="pedidos">
      <img src="/assets/seleccione.jpg">
    </div>
  </div>

   <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;" >
<div id="myCarousel4" class="carousel slide" style="margin-bottom: 0px;"  data-interval="5000">
      <ol class="carousel-indicators">
      <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel4" data-slide-to="1"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
      <div class="active item">
        <div class="row">
        <div class="span1"> &nbsp;</div>

        <div class="span4" style="background-color: #f5f5f5;">

        <br>
        <br>
          <%= form_for(@order, :html =>  {:class => "form-horizontal"}) do |f| %>

          <br>
            <div class="control-group">
              <label class="control-label" for="inputPassword">PIERNA 5 a 5,9 KILOS</label>
              <div class="controls">
                <input id="order_leg5_1" name="order[leg5]" type="checkbox" value="1">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">PIERNA 6 a 6,9 KILOS</label>
              <div class="controls">
                <input id="order_leg6_1" name="order[leg5]" type="checkbox" value="1">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">PIERNA 7 a 7.5 KILOS</label>
              <div class="controls">
                <input id="order_leg7_1" name="order[leg5]" type="checkbox" value="1">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">DESHUESADO</label>
              <div class="controls">
                <input id="order_desh_1" name="order[leg5]" type="checkbox" value="1">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Unidades</label>
              <div class="controls">
                  <input class="span1" id="order_units_1" name="order[units]" size="30" type="text">
              </div>
            </div>
              <br>
              <br>
          <% end %>
        </div>
        <div class="span5">
          <img src="/assets/PATA-DEL-JAMON-EN-PEDESTAL.jpg"   alt="">
        </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
        <div class="span1"> &nbsp;</div>
        <div class="span4" style="background-color: #f5f5f5;">
            <%= form_for(@order, :html =>  {:class => "form-horizontal"}) do |f| %>
            <br>
            <br>
            <div class="control-group">
              <label class="control-label" for="inputPassword">LOMO 0.5 KILOS</label>
              <div class="controls">
                <input id="order_lomo_1" name="order[lomo]" type="checkbox" value="1">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Unidades</label>
              <div class="controls">
                  <input class="span1" id="order_lomo_units_1" name="order[lomo_units]" size="30" type="text">
              </div>
            </div>
              <br>
              <br>
          <% end %>
        </div>
        <div class="span5">
          <img src="/assets/LOMO-FONDO-BLANCO.jpg"   alt="">
        </div>
        </div>
      </div>

      </div>
       <a class="carousel-control left" href="#myCarousel4" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel4" data-slide="next">&rsaquo;</a>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="span10 offset1" id="pedidos" style="background-color: #f5f5f5;">
      <p style="text-align: center;">
        <br>
        EL COSTO POR KILO ES BS 170 <br>
        Con las flechas puede seguir viendo y seleccionar su pedido
      </p>
      <img src="/assets/line.jpg">
    </div>
  </div>

   <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
    	<div class="row">
    		<div class="span5" style="background-color: #f5f5f5;">
      				<img src="/assets/llene.jpg">
    		</div>
    		<div class="span5" style="background-color: #f5f5f5;">
      				<img src="/assets/escriba.jpg">
    		</div>
		</div>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" style="background-color: #f5f5f5;">
    	<div class="row">

        <%= form_for(@order, :html =>  {:id=> "principal", :class => "form-horizontal"}) do |f| %>

        <%= f.hidden_field :leg5 %>
        <%= f.hidden_field :leg6 %>
        <%= f.hidden_field :leg7 %>
        <%= f.hidden_field :desh %>
        <%= f.hidden_field :units %>
        <%= f.hidden_field :lomo %>
        <%= f.hidden_field :lomo_units %>

    		<div class="span5" style="background-color: #f5f5f5;">
          <div class="control-group">
            <label class="control-label" for="nombre">*Nombre</label>
            <div class="controls">
              <%= f.text_field :name, :placeholder => "Nombre" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="empresa">Empresa o negocio</label>
            <div class="controls">
              <%= f.text_field :company, :placeholder => "Empresa" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="ciudad">*Ciudad</label>
            <div class="controls">
              <%= f.text_field :city, :placeholder => "Ciudad" %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="telefono">*Telefono</label>
            <div class="controls">
              <%= f.text_field :phone, :placeholder => "Telefono" %>

            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">*Email</label>
            <div class="controls">
              <%= f.text_field :email, :placeholder => "Email" %>
            </div>
          </div>
        <div class="control-group">
              <label class="control-label" for="inputPassword">*Forma de pago</label>
              <div class="controls">
                <label class"radio">
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1" > &nbsp;Efectivo <span style="color: red">(solo LP, CBBA ,SCZ) </span>
                </label>     
                <label class"radio">
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1" >  &nbsp;Deposito
                </label>
              </div>
        </div>
        <div class="control-group">
          <label class="control-label">
              <span style="color: red">*Campos obligatorios</span>
          </label>
        </div>
    		</div>
    		<div class="span5" style="background-color: #f5f5f5;">
				<div class="control-group">
				  <textarea style="width: 70%;" rows="6"></textarea>
				</div>
                  <img src="/assets/presione.jpg">
              <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-success btn-large">Enviar</button>
              </div>
              </div>
    		</div>
        <% end %>



		</div>
    </div>
  </div>
  <div class="row" >
    <div class="span10 offset1" id="pedidos">
      <img src="/assets/footer.jpg">
    </div>
  </div>
