<!DOCTYPE html>
<html lang="en">
  <head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sierranevada" %></title>
    <%= csrf_meta_tags %>

    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <style type="text/css">
      body {
        background-image: url('/assets/bg2.jpg');
        position: relative;
      }
      .bg_foot{
        background-color: #d7a701;
        min-height: 100px;
        color: white;
      }
      .second {
        background-color: #18381e;
      }
      .nabar
      {
        width: auto 9;
        position:fixed;
        top: 20px;
        z-index: 1031;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;

      }
   /* .navbar-inverse .navbar-inner {
      background-color: #d7a701;
    background-color: #d7a701;
background-image: -moz-linear-gradient(top, #d7a701, #d7a701);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7a701), to(#d7a701));
background-image: -webkit-linear-gradient(top, #d7a701, #d7a701);
background-image: -o-linear-gradient(top, #d7a701, #d7a701);
background-image: linear-gradient(to bottom, #d7a701, #d7a701);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd7a701', endColorstr='#ffd7a701', GradientType=0);
background-color: #d7a701;
background-image: -moz-linear-gradient(top, #d7a701, #d7a701);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7a701), to(#d7a701));
background-image: -webkit-linear-gradient(top, #d7a701, #d7a701);
background-image: -o-linear-gradient(top, #d7a701, #d7a701);
background-image: linear-gradient(to bottom, #d7a701, #d7a701);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd7a701', endColorstr='#ffd7a701', GradientType=0);
border-color: #252525;

    } */
    #scroller {
    position: relative;
    top: 15px;
    width: 100%;
    max-width: 700px;
    }



    </style>

  </head>
  <body>
    <!--
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sierranevada</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
       <!--    </div>
   </div>
    </div>
-->
<div class="container">
  <div class="row">
      <div class="btn-group nabar span10 offset1">
        <a href="/">
          <img style="width: 24.71%" src="/assets/logosierra.png">
        </a>
        <a href="/#inicio" >
          <img class="hoverImage" id="menu_inicio" style="width: 7.90%" src="/assets/menu_inicio.png" onError="this.src = '/assets/menu_inicio.png'">
        </a>
        <a href="/#productos" <%= request.fullpath == '/' ? 'class="menu_slide"' : '' %>>
          <img class="hoverImage" id="menu_producto"  style="width: 11.341%" src="/assets/menu_producto.png" onError="this.src = '/assets/menu_producto.png'">
        </a>
        <a href="/#recetario" <%= request.fullpath == '/' ? 'class="menu_slide"' : '' %>>
          <img class="hoverImage" id="menu_recetario" style="width: 10.45%" src="/assets/menu_recetario.png" onError="this.src = '/assets/menu_recetario.png'">
        </a>
        <a href="/#sabias" <%= request.fullpath == '/' ? 'class="menu_slide"' : '' %>>
          <img class="hoverImage" id="menu_sabias" style="width: 11.9%" src="/assets/menu_sabias.png" onError="this.src ='/assets/menu_sabias.png'">
        </a>
        <a href="/#quienes" <%= request.fullpath == '/' ? 'class="menu_slide"' : '' %>>
          <img class="hoverImage" id="menu_quienes" style="width: 13.99%" src="/assets/menu_quienes.png" onError="this.src = '/assets/menu_quienes.png'">
        </a>
        <a href="/#contacto" <%= request.fullpath == '/' ? 'class="menu_slide"' : '' %>>
          <img class="hoverImage" id="menu_contacto" style="width: 10.37%" src="/assets/menu_contacto.png" onError="this.src = '/assets/menu_contacto.png'">
        </a>
        <a href="/pedido">
          <img class="hoverImage2" id="menu_pedidos" style="width: 9.48%" src="<%= request.fullpath == '/pedido' ? '/assets/menu_pedidos_hover.png' : '/assets/menu_pedidos.png'  %>" onError="this.src = '/assets/menu_pedidos.png'">
        </a>
      </div>
      <!--
      <img class="navbar navbar-fixed-top span10 offset1" style="left: 105px;" src= "/assets/menu2-01.png">
      -->
  </div>
  


  <!--
<div class="row">
<div class="navbar navbar-inverse navbar-fixed-top" style="margin-top: 0px;" >
  <div class="navbar-inner" style="background-color: #d7a701;">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/#inicio">Sierra Nevada</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="/#productos">Productos</a>
          </li>
          <li class="">
            <a href="/#recetario">Recetario</a>
          </li>
          <li class="">
            <a href="/#sabias">Sabias que?</a>
          </li>
          <li class="">
            <a href="/#quienes">Quienes somos?</a>
          </li>
          <li class="active">
            <a href="/#contacto">Contacto</a>
          </li>
          <li class="">
            <a href="/pedido#pedidos">Pedido</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
-->
            <%= bootstrap_flash %>
            <%= yield %>
          <!--
          <div class="span3">
            <div class="well sidebar-nav">
              <h3>Sidebar</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li><%= link_to "Link1", "/path1"  %></li>
                <li><%= link_to "Link2", "/path2"  %></li>
                <li><%= link_to "Link3", "/path3"  %></li>
              </ul>
            </div><!--/.well -->
    <!--      </div><!--/span-->
    <!--    </div><!--/row-->
      
    <div class="row">
        <div class="span10 offset1" style="background-color: #d7a701; color: white;">

          <div class="row">

            <div class="span6">
          <!--
          <img src="/assets/foot_last.png">
          -->
              <p style="margin-left: 25px;" > Mapa del sitio

              <br>
              <br>
              <a style="color: white;"  href="/">Inicio</a> <span class="divider">/</span>
              <a style="color: white;" href="/#productos"> Productos</a> <span class="divider">/</span>
              <a style="color: white;" href="/#recetario"> Recetario</a> <span class="divider">/</span>
              <a style="color: white;" href="/#sabias"> Sab&iacute;as qu&eacute;?</a> <span class="divider">/</span>
              <a style="color: white;" href="/#contacto"> Contacto</a> <span class="divider">/</span>
              <a style="color: white;" href="/pedido"> Pedidos</a> <span class="divider">/</span>

              </p>
      
            </div>
            <div class="span4">
              <p class="pull-right" style="margin-right: 50px;">
                <br>
                <br>
                &copy; Sierra Nevada 2013</p>
            </div>


        </div>
      </div>
    </div>
    </div> <!-- /container -->
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
<script>
function preloader() {
  if (document.images) {
    var img1 = new Image();
    var img2 = new Image();
    var img3 = new Image();
    var img4 = new Image();
    var img5 = new Image();
    var img6 = new Image();
    var img7 = new Image();

    img1.src = "/assets/menu_inicio_hover.png";
    img2.src = "/assets/menu_producto_hover.png";
    img3.src = "/assets/menu_recetario_hover.png";
    img4.src = "/assets/menu_sabias_hover.png";
    img5.src = "/assets/menu_quienes_hover.png";
    img6.src = "/assets/menu_contacto_hover.png";
    img7.src = "/assets/menu_pedidos_hover.png";

  }
}

preloader();

$(document).ready(function() {


    function goToByScroll(href){

        id = href.replace("/", "");

        $('html,body').animate({
            scrollTop: $(id).offset().top+102},
            'slow');
    }
    $(".menu_slide").click(function(e) {
        e.preventDefault();
        goToByScroll($(this).attr("href"));           
    });

  $('#myCarousel').carousel({
      interval: 4000
  });
  $('#myCarousel2').carousel({
      interval: 4000
  });
  $('#myCarousel3').carousel({
      interval: 4000
  });
});

$("img.hoverImage").mouseover(function(){
  if ($(this).is('.activeImage')) return;
  var src = "/assets/"+$(this).attr("id")+ "_hover.png";
  $(this).attr("src", src);

}).mouseout(function(){
  if ($(this).is('.activeImage')) return; // Skip mouseout for active image
  var src = "/assets/"+$(this).attr("id")+ ".png";
  $(this).attr("src", src);
}).click(function(){
  // remove previous active state
  var src = "/assets/"+$('.activeImage').not(this).attr("id")+".png";
  $('.activeImage').not(this).attr("src", src);
  $('.activeImage').not(this).removeClass('activeImage');
  // set new active state
  //var src = "/assets/"+$(this).attr("id")+"_active.png";
  //console.log(src);
  //$(this).attr("src", src);
  $(this).addClass('activeImage');
  //windows.location.href =  $(this).attr("href");
  return true;
});

$("img.hoverImage2").mouseover(function(){
  if ($(this).is('.activeImage')) return;
  var src = "/assets/"+$(this).attr("id")+ "_hover.png";
  $(this).attr("src", src);
  console.log(src);

}).mouseout(function(){
  if ($(this).is('.activeImage')) return; // Skip mouseout for active image
  var src = "/assets/"+$(this).attr("id")+ ".png";
  $(this).attr("src", src);
  console.log($(this).attr("id"));

}).click(function(){

  return true;
});
</script>

  </body>
</html>
